=form_tag '/connection/login', class: 'form-connection' do
  %table
    %tbody
      %tr
        %td
          =label_tag :host, 'Host:'
        %td
          =text_field_tag :host, nil, placeholder: '127.0.0.1'
      %tr
        %td
          =label_tag :port, 'Port:'
        %td 
          =text_field_tag :port, nil, placeholder: '6379'
      %tr
        %td
          =label_tag :password, 'Password:'
        %td
          =text_field_tag :password
      %tr
        %td
        %td
          =button_tag 'Connect', class: 'btn btn-large btn-primary'



