.statistics
  =link_to 'Reset Info', statistics_reset_path('all'), class: 'btn btn-danger', method: :delete
  -@params.keys.each do |stat|
    =render partial: 'table', locals: {title: stat, params: @params[stat]}
  %br
  %a.anchor{name: 'slowlog'}
  =link_to 'Reset SlowLog', statistics_reset_path('slowlog'), class: 'btn btn-danger', method: :delete
  %table{class: 'table table-bordered table-striped table-hover'}
    %caption
      = 'Slow Log'
    %thead
      %tr
        %th.span2 ID
        %th.span2 Time
        %th.span2 Spend time
        %th.span2 Comand
    %tbody
      -@slowlog.each do |log| 
        %tr
          %td
            =log[0]
          %td
            =Time.at(log[1]).strftime("%d/%m/%Y %H:%M")
          %td
            =(log[2].to_f/1000000).to_s + ' s'
          %td
            =log[3].join(' ')
