#select-db
  =label_tag :select_db, 'Select DB:'
  =select_tag :select_db, options_for_select((0..(@dbs-1)).collect{|n| [n, n]}, @db_index), autofocus: true
  =link_to 'Flush DB', '#', class: 'btn btn-danger'
%hr
%ul#tree.Container
  -@keys.each do |key| 
    %li.Node.IsRoot.IsLast{class: key[:isParent] ? 'ExpandClosed' : 'ExpandLeaf', data: {id: key[:title]}}
      .Expand
      .Content
        =key[:title]
      %ul.Container

#edit-key
  =form_tag '/keys/id', method: :put do
    =hidden_field_tag :type, nil
    =link_to 'x', '#', id: 'close'
    =text_field_tag 'key-name', nil, disabled: true
    #type-key
      Type:
      %span
        %b
    =text_area_tag 'edit-key-area'
    .outer
      .controls
        =link_to 'Update'.html_safe, '#',  class: 'btn btn-primary', title: 'Update', id: 'submit'
        =link_to '<i class="icon-trash"></i>'.html_safe, '#',  class: 'btn btn-danger', title: 'Delete', id: 'delete'
#create-key
  =form_tag '/keys' do
    =link_to 'x', '#', id: 'close'
    =text_field_tag 'key-name'
    =text_area_tag 'create-key-area'
    .outer
      .controls
        =link_to 'Create'.html_safe, '#',  class: 'btn btn-primary', title: 'Save', id: 'submit'
        =link_to '<i class="icon-trash"></i>'.html_safe, '#',  class: 'btn btn-danger', title: 'Delete', id: 'delete'