@import "terminal";
@import "connection";
@import "configuration";
@import "keys";
$baseFontSize: 16px;
$baseLineHeight: 24px;
$navbarText: #fff;
@import "bootstrap";

body{

}

.navbar-text{
    color: white !important;
}

a#logout:hover{
    background: url(icon_off.png) no-repeat 50% 50%;
    i{
        visibility: hidden;
    }
}