.configuration{
    width: 75%;
    margin: 0 auto;
    .attention{
        color: #cccccc;
    }
    .editable{
        cursor: pointer;
        button[type="submit"], button[type="cancel"]{        
            margin-top: 5px;
        }
        button[type="cancel"]{
            margin-left: 5px;
        }
    }
}