#select-db{
    select{
        margin-bottom: 0;
    }
    label{
        display: inline-block;
    }
}

#edit-key, #create-key{
  width: 25%;
  border: 2px solid #dddddd;
  position: absolute;
  z-index: 10;
  display: none;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  a#close{
    display: block;
    position: absolute;
    top: 0;
    right: 3px;
    line-height: 18px;
    font-size: 16px;    
    &:hover{
      text-decoration: none;
    }
  }
  form{
    margin-bottom: 0;
    input, textarea, #type-key{
      display: block;
      width: 80%;
      margin: 10px auto;

    }
    .outer{
      text-align: center;
      .controls{
        display: inline-block;
      }
    }

  }
}