@import "jqtree";


#select-db{
    margin-top: -5px;
    margin-left: 10px;
    select{
        margin-top: 10px;
        width: 7%;
    }
}

#portamento_container {
    float:right; 
    position:relative;
}

#portamento_container #editor_key {
    float:none; 
    position:absolute;
}

#portamento_container #editor_key.fixed {
    position:fixed;
}

#editor_key{
    visibility: hidden;
}

#edit-key-area, #key-name{
    display: block;
    margin-top: 10px;
    width: 70%;
}